<suite name="Page Object test example">
<parameter name="appURL" value="https://www.google.com/"/>
<parameter name="browserType" value="chrome"/>
  <test name="sample test">
    <classes>
      <class name="com.pack.common.tests.BasePageTest"/>
      <class name="com.pack.common.tests.SignInPageTest"/>
      <class name="com.pack.common.tests.CreateAnAccounTest"/>
    </classes>
  </test>
</suite>